/* -about us page--sub-header (copy) --*/
.sub-header{
      
 min-height: 100vh;
 width: 100%;
  background: 
     linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
     url('eduford_img/eduford_img/background.jpg');
 background-position: center; 
 background-size: cover;
 text-align: center;
 position: relative; 
 color: #fff;
}
.sub-header h1{
    margin-top:100px;
}
.About-row{
    display: flex;
    justify-content: space-between;
}
.About-Us{
    width:80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom:50px ;
}
.about-col{
    flex-basis: 48%;
    padding: 30px 2px;
}
.about-col img{
    width:100%;
}
.about-col h1{
    padding-top:0;
}
.about-col p{
    padding: 15px 0 25px;
}
.red-btn{
    border: 1px solid #f44336;
    background: transparent;
    color: #f44336;
}
.red-btn:hover{
    color: #fff;
}
































































